<!DOCTYPE html>
<html>
<head>
        <title>Home - Flask Analytics</title>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GC4HBWCR8E"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-GC4HBWCR8E');
        </script>
</head>
<body>
    <h1>Welcome to Flask Analytics Home</h1>
    <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/services">Services</a> |
        <a href="/contact">Contact</a> |
        <a href="/dashboard">Analytics Dashboard</a>
    </nav>
    <p>This is the home page.</p>
</body>
</html>
